

/* .header-centre {

} */
.header2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    padding-bottom: 10px;
    font-family: open-sans;
}
.headerLogo {
    width: 100px;
    margin-left: 60px;
}
.header-flags {
    padding:3px;
    padding-top: 18pt;
    display: flex;
    right: 2px;
    margin-right: 40px;
}

#maori-flag {
    height: 12px;
    width: 21.6px;
    justify-items:flex-end;
    margin-right: 2px;
}
#nz-flag {
    height: 12px;
    width: 21.6px;
    padding-right: 40px;
    padding-left: 10px;
}
#lang {
    height: 12px;
    width: 21.6px;
}
/* footer css */
.footer2 {
    height: 5%;
}
.foot-other {
    text-align: center;
}
