.bkcolor {
    background: #EFEFF1;
    padding: 2em;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}
.mainBackground {
    background: #EFEFF1;
}
.infoContentText {
    display: flex;
}
.infoContentText h3 {
    font-size: 24px;
}
.infoContentText p {
    font-size: 20px;
}
.infoBoxTitle {
    font-size: 24px;
}
