.infoBlock {
    padding: 2%;
    display: flex;
    flex-direction: column;
    color: #767676;
}
.infoBlockTitle {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.infoBlockButtons {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10em;
}
.buttonStyle {
    color: #767676;
    min-width: 280px;
    height: 40px;
    background:white;
    border-radius: 8px;
    border: 4px solid #43C0F6;
    font-weight: 700;
    font-size: 24px;
}
.active {
    background:#EFEFF1;
   border-color:#EFEFF1;
}

@media screen and (max-width: 1000px) {
    .infoBlockButtons {
        flex-direction:column;
    }
}
