.bkcolor {
    background: #EFEFF1;
    padding: 2em;
    justify-content: center;
}
.mainBackground {
    background: #EFEFF1;
}
.infoBoxName {
    font-size: 40px;
}
.infoBoxTitle {
    font-size: 26px;
}
.infoContentText {
    display: flex;
}
.infoContentText h3 {
    font-size: 24px;
}
.infoContentText p {
    font-size: 22px;
}

