.babyImage {
    height: 450px;
    width: 100%;
}

.promoText {
    margin-left: 10%;
    margin-top: -360px;
    width: 40%;
}

.prepareYoungMinds {
    color: #767676;
    font-size: 48px;
    margin-bottom: 0;
}

.letUsHelpYou {
    font-size: 22px;
    color: #767676;
}

.signupButton {
    background: #F91C85;
}

.subtext {
    color: #767676;
    font-size: 11px;
}

.buttonGroup {
    display: flex;
    margin-left: 10%
}