.babyImage {
    height: 520px;
    width: 100%;
}

.promoText {
    margin-top: -430px;
    margin-left: 3em;
    width: 45%;
}
.span {
    color: #45C1F6 }

.prepareYoungMinds {
    color: #767676;
    font-size: 68px;
    margin-bottom: 0;
}

.letUsHelpYou {
    font-size: 30px;
    color: #767676;
}

.signupButton {
    background: #F91C85;
}

.subtext {
    color: #767676;
    font-size: 16px;
    margin-left: 70%;
    padding-right: 10%
}

.buttonGroup {
    display: flex;
    margin-left: 24%
}

