.weOffer {
    display: flex;
    width: 100%;
    margin-top: 8em;
}



.weOfferLeft {
    margin-right: 2em;
}
.weOfferText {
    width: 700px;
}
.weOfferText h2 {
    font-size: 48px;
}
.weOfferText p {
    font-size: 24px;
}
.weOfferText2 {
    font-size: 36px;
}
.weOfferCards {
    max-width: 800px;
    display: flex;
}



.weOfferPic {
    flex-direction: column;
    justify-items: center;
    padding-left: 12em;
}
.laptopScreen {
    height: 600px;
}
.weOfferRadios {
    margin-left: 45%;
    display: flex;
    justify-content: space-between;
}
