/* --- Main Container --- */
.weOffer {
    display: flex;
    width: 100%;
    margin-top: 9em;
}

/* --- WeOffer-TextBox --- */
.weOfferText {
    margin-left: 3em;
    width: 700px;
    color: #767676;
}
.weOfferText h2 {
    font-size: 48px;
}
.weOfferText p {
    font-size: 26px;
    padding-bottom: 50px;
}
.weOfferText2 {
    color: #767676;
    margin-left: 1.25em;
    font-size: 36px;
    padding-bottom: 30px;
}

/* --- Blue-Cards Div --- */
.weOfferCards {
    max-width: 800px;
    display: flex;
}

/* --- Laptop-Screen Div --- */
.weOfferPic {
    flex-direction: column;
    justify-items: center;
    padding-left: 12em;
}
.laptopScreen {
    height: 600px;
}
.weOfferRadios {
    margin-left: 45%;
    display: flex;
    justify-content: space-between;
}
