.headerThree{
    display:flex;
    flex-direction: row;
    height: 62px;
    width: 1920px;
    font-family: 'nunito';
    /* use open sans or nunito */
}

#headerLogos img{
 height: 55px;
 width: auto;
 margin-right: 60px;
 margin-left: 30px;
}

.projectHeader {
    font-family: 'nunito';
    padding: 8px;
    color: grey;
    text-align: left;
}

.projectHeader h2 {
    margin: 0px 0px;
    font-size: 18px;
    font-weight: bolder;
}

.projectHeader p {
    margin: 0px 0px;
    font-size: 12px;
}


.progressButtons{
    flex-direction: row;
    display: flex;
    margin-left: 2px;
    
}

#Dot {
    border-radius: 50%;
    background-color: #FDF7C0;
    border: 3px solid #43C0F6;
    height: 40px;
    width: 40px;
    margin-right: 18px;
    margin-top: 5px;
    box-shadow: 1px 3px 6px grey;
}

#Dot h1 {
    text-shadow: 1px 3px 4px grey;
    color: grey;
    font-family: "nunito";
    margin-top: 0px;
}

#dot {
    background-color:white;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    margin-top: 15px;
    margin-right: 10px;
    box-shadow: 1px 3px 4px grey;
    border: 3px solid #43C0F6;

  }



 .flagsHeaders {
    display: flex;
    align-items: center;
    margin-left: 960px;
  }

.flagsHeaders img {
    width: 15px;
    margin-left: 5px;
  }


#langThree:hover {
    background-color: #43C0F6;
}

#langThree {
    background-color: lightblue;
    cursor: pointer;
    height:12px;
    width:21.6px;
    margin-right: 2px;
}

#maoriFlagThree {
    height:12px;
    width:21.6px;
    margin-right:2px;
    
}

#nzFlagThree {
    height:12px;
    width:21.6px;
};