.instructions {
    background-color: #B2E4FA;
    width: 100%;
    height: auto;
    display: flex;
}

.makeStyles-root-1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #B2E5FA;
}

.arrowLeftButt {
height: 50px;
width: 50px;
background-color: hotpink;
}

.arrowRightButt {
    height: 50px;
    width: 50px;
    background-color: hotpink;
}

.MuiButtonBase-root{
height: 50px;
width: 50px;   
}