.makeStyles-root-1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #B2E5FA;
}

#controlblockshort {
position:sticky;
margin-top: 10px;

}






/* this is under the const root thingy, don't bother, just for reference.
changing the background colour yerara mean
    .makeStyles-root-12{
    background-color: #B2E5FA;
} */