.header {
    height: 66px;
    display: flex;
    height: 55px;
    background: #33CCFF;

}

.logo {
    position: relative;
    left: 200px;
    top: 0px
}

.logoPic {
    width: 140px;
    align-items: left;
}

.middleButtons {
    font-size: 14px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.middleButtons a {
    color: whitesmoke;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
    left: 550px;
    top: 26px;
}


.avatar {
    position: relative;
    left: 780px;
    top:26px;
}
.flags {
    display: flex;
    cursor: pointer;
    position: relative;
    left: 950px;
    top: 5px
}
.flags img {
    width: 20PX;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
}
.lang {
    color: whitesmoke;
    font-size: 10px;
    padding-right: 10px;
}  

.loginButtons {
    display: flex;
    justify-content: space-evenly;
    height: 25px;
    width: 170px;
    position: relative;
    left: 770px;
    top: 26px;
}

.loginButtons p {
    color: whitesmoke;
}

.register{
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    padding-top: 3px;
}

/* .login {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    padding-top: 3px;
} */