.mainHeaderColour {
    background: #43C0F6;
}
.headerBody {
    display: flex;
}
.middleButtons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.middleButtons p {
    margin-left: 2rem;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.logo {
    justify-content: flex-start;
    margin-top: 0.5rem;
}
.logoPic {
    height: 5rem;
}

.flags {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flags img {
    object-fit: cover;
    margin-left: 1rem;
    width: 2rem;
}

.loginButtons {
    display: flex;
}

.loginButtons p {
    margin-left: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.loginContainer {
    display: flex;
    min-width: 250px;
    align-items: center;
}

.rightEdgeStuff {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    justify-content: flex-end;
}

.profileIcon {
    height: 2rem;
}
.miniAvatar {
    height: 40px;
    width: 40px
}