.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    transition: visibility 0s, opacity 0.5s;
    
}

.formActive {
    visibility: visible;
    opacity: 1;
}

/*student side*/
.modalContentL {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 10px;
    margin-left: auto;
    border-right: solid 2px slategray;
    width: 25%;
    height: 80%;
    background-color: white;
}

/*teacher side*/
.modalContentR {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 10px;
    margin-right: auto;
    width: 25%;
    height: 80%;
    background-color: white;
}

/*contains all content: avatar, forms and buttons*/
.gridContainer {
    margin: 20px;
    width: 280px;
    padding-block: 5px;
    
}

/*sign up form*/
.signUp {
    height: 10%;
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/*login form*/
.email {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-color: lightgrey;
    border-radius: 7px;
    border-block-width: 1px;
    margin-top: 230px;
    padding: 5px;
    width: 240px;
}

.password {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-color: lightgrey;
    border-radius: 7px;
    border-block-width: 1px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 5px;
    width: 240px;
}

