* {
    font-family: 'Nunito', sans-serif;
}

.fullName {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-color: lightgrey;
    border-radius: 7px;
    border-block-width: 1px;
    padding: 5px;
    width: 200px;
    
}

.emailAddress {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-color: lightgrey;
    border-radius: 7px;
    border-block-width: 1px;
    padding: 5px;
    width: 200px;
}

.newPassword {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-color: lightgrey;
    border-radius: 7px;
    border-block-width: 1px;
    padding: 5px;
    width: 200px;

}

.confirmPassword {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-color: lightgrey;
    border-radius: 7px;
    border-block-width: 1px;
    padding: 5px;
    width: 200px;
}

.signUpInput {
    justify-content: center;
    margin: auto;
}
