* {
    font-family: 'Nunito', sans-serif;
}

.loginLinks {
    display: flex;
    justify-content: center;
   
   
}

.loginLink1 {
    font-weight:800;
    font-size: x-large;
    color:slategray;
    text-decoration: none;
    padding-right: 20px;
   
}

a.loginLink1:hover, a.loginLinks:active{
    text-decoration: underline #00c3ff;
    text-decoration-thickness: 5px;
}


.signUpLink2 {
    font-weight:800;
    font-size: x-large;
    color:slategray;
    text-decoration: none;
    padding-left: 20px;
   
}

a.signUpLink2:hover, a.loginLinks:active{
    text-decoration: underline #F4499B;
    text-decoration-thickness: 5px;

}

    
