.mainContainer {
    border: solid 1px;
    max-width: 1700px;
    max-height: 2700px; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 10px;
} 


* {
    font-family: 'Nunito', sans-serif;
}


.projectCardArea {
    border: solid 1px;
    width: 1000px;
    display:flex;
    margin-top: 70px;
    margin-left: 280px;
    margin-bottom: 50px;
}

.main2 {
    display:flex;
}
